Escape function documentation inaccuracy

Quoting from [documentation](https://uriparser.github.io/doc/api/latest/Uri_8h.html#a808563dc7651af40b92f40a7522b4062) of `uriEscapeA`:
> Percent-encodes all unreserved characters from the input string and writes the encoded version to the output string.

Going by the RFC3986 section 2.3. unreserved characters are defined as:

> Characters that are allowed in a URI but do not have a reserved
purpose are called unreserved.  These include uppercase and lowercase
letters, decimal digits, hyphen, period, underscore, and tilde.

With this code
```c++
#include <uriparser/Uri.h>
int main() {
  char test[] = "myTest42.~_-%^&*";
  char output[500];
  uriEscapeA(test, output, URI_TRUE, URI_TRUE);
  std::cout << output << std::endl;
  return 0;
}
```

I received this output
```
myTest42.~_-%25%5E%26%2A
```

Which seems to percent-encode every character that is NOT an unreserved character and the [source code](https://github.com/uriparser/uriparser/blob/7d93dc33e9b6e7d36e33aba116b0c3e3484e2f21/src/UriEscape.c#L71) seems to suggest this as well. Consider changing the documentation to "Percent-encodes all non-unreserved characters from the input string and writes the encoded version to the output string."

Of course, if the documentation is correct and the intent is to escape all unreserved characters, code should be changed to be so.