`uriComposeQuery` should not percent-encode "/" (slash)

Hi,

As far as I understand, the "/" is accepted within the query:

```
 query       = *( pchar / "/" / "?" )
```

If I got it right, RFC 3986 even clarifies that it can be part of query components:

> The characters slash ("/") and question mark ("?") may represent data
   within the query component.

However, after digging into the implementation of `ComposeQueryEngine`, I saw that it uses `URI_FUNC(EscapeEx)` under the hood to perform percent-encoding, and this function considers "/" as a forbidden reserved character, even though it's an allowed one in the context of the query.

I am working on a followup that includes advanced query param handling, so ConposeQuery is not yet exposed anywhere.

@kocsismate I found the RFC to say…

> The characters slash ("/") and question mark ("?") may represent data  within the query component.  Beware that some older, erroneous  implementations may not handle such data correctly when it is used as  the base URI for relative references (Section 5.1), apparently  because they fail to distinguish query data from path data when  looking for hierarchical separators.  However, as query components  are often used to carry identifying information in the form of  "key=value" pairs and one frequently used value is a reference to another URI, it is sometimes better for usability to avoid percent-  encoding those characters.

…right below in [section 3.4](https://datatracker.ietf.org/doc/html/rfc3986#section-3.4).

So there is a documented concern with regards to backwards compatibility, for the change that are suggesting.

To me that means we can (a) accept the current defensive behavior or (b) we probably need four new API functions to make this new non-bugfix behavior available:

- `uriEscapeExExA`
- `uriComposeQueryCharsRequiredExExA`
- `uriComposeQueryMallocExExA`
- `uriComposeQueryMallocExExMmA`

Note the double `Ex`.

Please let me know what you think.


~One more note: they might be another small ambiguity in the wording of RFC 1866:~

> ~The form field names and values are escaped: space characters are replaced by "+", and then reserved characters are escaped as per https://datatracker.ietf.org/doc/html/rfc1866#ref-URL; that is, non-alphanumeric characters are replaced by `%HH', a percent sign and two hexadecimal digits representing the ASCII code of the character.~

~Even though it mentions that **reserved characters are percent-encoded**, implementations (not just uriparser, but every other one I saw) also percent-encode the "%" character itself - which is not reserved either by RFC 1738, or RFC 3986 in fact....~

~I guess it doesn't change anything, but maybe the above quote in RFC 1866 should rather say something like "... and then any characters that fall outside of the unreserved set are escaped as per ...".~