Clarification needed with regards to percent-encoding of non-UTF 8 characters inside the host

Hey,

I noticed that RFC 3986 includes the following sentence:

> URI producing applications must not use percent-encoding in host unless it is used to represent a UTF-8 character sequence.

And I'm wondering if uriparser should do anything related to this? Specifically, I don't understand how this rule only relates to "URI producing applications" rather than "URI reference parsers", or also "URI normalizers"?

The reason why I'm asking this is because my understanding of "URI producing applications" based on the usages in the RFC was that applications that create a URI (reference). For example:

>   URI producing applications should percent-encode data octets that correspond to characters in the reserved set unless these characters are specifically allowed by the URI scheme to represent data in that component.

This sentence mentions percent-encoding which is related to recomposition rather than parsing.

So if we use this definition, then uriparser should fail **when recomposing** an URI that contains percent-encoded octets in the host that are not related to UTF-8 characters (it shouldn't fail during parsing then). While this behavior would satisfy the Robustness Principle ("be conservative in what you do, be liberal in what you accept from others"), it would require the `uriToString*()` methods to check this case.

If we ignore this definition, then uriparser should maybe prevent `%` characters inside the host that are unrelated to UTF-8 characters.

What do you think is the correct behavior?





Hi @kocsismate,

we're getting into interesting territory here 😃 If I am not mistaken, the predecessor of RFC **398**6 on track [STD 66](https://www.rfc-editor.org/info/std66) — RFC **239**6 — recognizes in [2.1](https://datatracker.ietf.org/doc/html/rfc2396#section-2.1) URI and non-ASCII characters …

> [T]here is currently no provision within the generic URI syntax to accomplish this identification [of encoding].

…and that in a sense a URI is an agnostic container where characters not matching ASCII closely are escaped when writing URIs and (potentially) unescaped when reading URIs. In RFC **239**6 that is the only place menting UTF-8 and in context of "[f]or example". At that point in time I consider things were clear, simple, but probably "wrong" to some.

RFC **398**6 has a new take on this matter where now UTF-8 is mandated(?) for "a new URI scheme defines a component that represents textual data" — note the "new":

> When a new URI scheme defines a component that represents textual
> data consisting of characters from the Universal Character Set [[UCS](https://datatracker.ietf.org/doc/html/rfc3986#ref-UCS)],
> the data should first be encoded as octets according to the UTF-8
> character encoding [[STD63](https://datatracker.ietf.org/doc/html/rfc3986#ref-STD63)]; then only those octets that do not
> correspond to characters in the unreserved set should be percent-
> encoded.  For example, the character A would be represented as "A",
> the character LATIN CAPITAL LETTER A WITH GRAVE would be represented
> as "%C3%80", and the character KATAKANA LETTER A would be represented
> as "%E3%82%A2".

Things become interesting when you have C character types that are wider than an octet; I'm intentionally not saying "byte" here because an "octet" is guaranteed 8 bits wide but a byte is not (and a byte not being guaranteed 8 bits will continue to pain me). With just 8 bits you pump UTF-8 in, treat it opaquely, pump UTF-8 out, done. But what if your URI comes in as `wchar_t` — 2 bytes on Windows and 4 bytes on Linux. Now (for Windows) you have an alternation of UTF-8 bytes and 0 bytes going into the URI parser (with UCS-2 or UTF-16) and you either stick to that approach when writing too — essentially leaving the UTF-8 encoding and decoding (or embedding) part to the application in the original spirit of RFC **239**6 — or you decode Unicode code points and then turn those into say UCS-2 on Windows and UTF-32 on Linux to match their respective `wchar_t`.

For function `uriEscapeW` I had to make a choice documented at https://uriparser.github.io/doc/api/latest/Uri_8h.html#a808563dc7651af40b92f40a7522b4062 that is worth checking out. While UTF-8 decoding and encoding is challenging and fun at the same time, part of me reminding me that URI is not IRI and that maybe UTF-8 decoding and encoding should not be happening at all in uriparser if the applications can as well do it themselves and be in full control that way. uriparser will never be iriparser and that's alright.

There is some chance that adding `wchar_t` support to uriparser was a mistake on all levels. Maybe `wchar_t` violates the idea of raw octets on the wire. Thinking Python, for `wchar_t` uriparser is not parsing `bytes` but parsing `str`. Maybe there is an answer to which is right in the spec. I'll take a pause here for now.

What do you think?


@kocsismate any news? PS: I can offer voice calls on the topic as needed.

@kocsismate PS: I have read some of https://www.php.net/manual/en/language.types.string.php#language.types.string.details now and conclude from that you'll likely use the `uri*A` family of functions for everything (and hence `uri*W` for nothing).
PPS: Is your work on integration with PHP in a public Git repository somewhere?

@kocsismate please provide some form of update or follow-up. You've been silent here for three weeks now and I'm not sure why or how to interpret that silence. Are you well up? Are you on vacation? I would get back to the topic of #222 myself but I need a sign of life and continued interest from your side. Thank you!

@hartwork I'm so sorry for the radio silence. I was off for a longer period due to vacation and other family events. In my restricted free time, I was trying to finish the last couple of changes to my PHP RFC (https://wiki.php.net/rfc/url_parsing_api), and it was much more painful than I thought...

That said, I'm still pretty much interested in uriparser, although mainly in https://github.com/uriparser/uriparser/pull/222. As you supposed, I'm only using the `uri*A` API (btw this is my implementation: https://github.com/php/php-src/pull/14461 where I added a very few custom patches to uriparser, mainly due to the need to "copy" the `UriUriA` structs. I'll also have to take care of https://github.com/uriparser/uriparser/issues/196 myself).

Hello @kocsismate, allow me reply bullet style:

- Thanks for your reply and also for the links! :+1:

- Interest in #222 noted :+1: I'll see what I can do.

- How/where can I find the custom patches to uriparser you mentioned in pull request https://github.com/php/php-src/pull/14461 ?

- With regard to the original key question in this issue — statement "URI producing applications must not use percent-encoding in host unless it is used to represent a UTF-8 character sequence." in [RFC 386 section 3.2.2](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2.2) — my current view is:
  - The "must" makes this important.
  - (RFC 3986 does not seem to use "MUST" a la [RFC 2119](https://datatracker.ietf.org/doc/html/rfc2119) but the other uses of "must" seem to mean "MUST" a la RFC 2119.)
  - The main objective seems to be helping human readability.
  - Producing is not parsing, so parsing does not need adjustment.
  - Arguably functions `uriToStringA` and `uriToStringW` may be the only "URI producers" in uriparser
  - .. and hence may need adjustment to satisfy RFC 3986.
  - The adjustment I envision is to unescape over-escaped characters in the host during `uriToStringA`/`uriToStringW` re-composition — on the fly and without modifiying the underlying `UriUriA`/`UriUriW` structure.

- The apparent scope of [your project](https://wiki.php.net/rfc/url_parsing_api) makes me wonder: Is your work on this topic being sponsored?

Best, Sebastian :beers:


> > How/where can I find the custom patches to uriparser you mentioned in pull request
> 
> I found the custom patches inside the bundled library's code by looking at the `git diff` after copy-pasting the current code of uriparser ^^ There is basically two small exports that I needed: `SafeToPointTo` and `IsHostSet`.
> 
> I needed these symbols because I had to add support for copying `URI_TYPE(Uri)` (I have multiple use-cases, but e.g. it's necessary when an `Uri` object is cloned). That's why I created the `uriparser_copy_uri` function (inside php_uriparser.c: https://github.com/php/php-src/pull/14461/files#diff-04ea97756e1ce310ccfd4d8775089274da9a7ce11af774336dbda793e6642fcbR78) that should really also be in the upstream package. I saw a relevant feature request which basically ask for the same thing: [#200](https://github.com/uriparser/uriparser/issues/200) TBH my implementation usually works well, but I'm sure it still has a few issues that I haven't found yet.

@kocsismate interesting, thanks for elaborating.


> > With regard to the original key question in this issue — statement "URI producing applications must not use percent-encoding in host unless it is used to represent a UTF-8 character sequence." in [RFC 386 section 3.2.2](https://datatracker.ietf.org/doc/html/rfc3986#section-3.2.2) — my current view is:
> 
> Yes, I agree with your reasoning. This seems like the only sensible interpretation of the sentence. I also agree with the suggested fix.

After [having suggested](https://github.com/uriparser/uriparser/issues/223#issuecomment-2852494760)…

>> * The adjustment I envision is to unescape over-escaped characters in the host during `uriToStringA`/`uriToStringW` re-composition — on the fly and without modifiying the underlying `UriUriA`/`UriUriW` structure.

…it became clear to me that there are potentially two different use cases with `uriToStringA`/`uriToStringW`:
- a) raw translation of a `UriUriA`/`UriUriW` back to string, something close to an inverse function pair cycle, which I would not necessary call "URI production": `f1(f2(x)) == x`.
- b) stringification of the result after manipulation of an URI, e.g. making an absolute one relative — that I see closer to "URI production".

If that distinction matters — I'm not 100% sure yet but tending towards "yes" — then addition of a new function `uriToStringExA` with a flag to control that behavior may be the way to go forward.


> > The apparent scope of [your project](https://wiki.php.net/rfc/url_parsing_api) makes me wonder: Is your work on this topic being sponsored?
> 
> I sent you a direct mail a few days ago related to this topic.

Thank you 👍 