uriAddBaseUri seen omitting trailing slash

Hi - I came across some failing tests in code of mine that uses uriparser, so I reduced them to tests I could add to uriparser's test/test.cpp. I'm probably just not understanding what should be happening according to the spec, but I thought I would ask here.

At lines 1067 and 1068, https://github.com/uriparser/uriparser/blob/1bd8ae2b8b47d3155765c1ea282a8f9812d3853e/test/test.cpp#L1067-L1068 you see two tests from the spec where the relative uris "../.." and "../../" are added to the base uri. In both cases, the resolved uri should have a final "/", whether or not the relative uri does.

The following test statements I wrote show that if you add a "." segment within the base uri, then the relative uri still has a final "/" in both cases:
```
    ASSERT_TRUE(testAddBaseHelper(L"http://a/b/c/./d;p?q", L"../..", L"http://a/"));
    ASSERT_TRUE(testAddBaseHelper(L"http://a/b/c/./d;p?q", L"../../", L"http://a/"));
```
However, the following statements show that if you add a ".." segment within the base uri, then the resolved uri seems to be missing the final "/" if the relative uri does:
```
    ASSERT_TRUE(testAddBaseHelper(L"http://a/b/c/../d;p?q", L"../..", L"http://a/")); // FAILS
    ASSERT_TRUE(testAddBaseHelper(L"http://a/b/c/../d;p?q", L"../../", L"http://a/"));
    ASSERT_TRUE(testAddBaseHelper(L"http://a/b/../c/d;p?q", L"../..", L"http://a/")); // FAILS
    ASSERT_TRUE(testAddBaseHelper(L"http://a/b/../c/d;p?q", L"../../", L"http://a/"));
```
Also note that if the ".." segment is close enough to the authority segment, then the final "/" reappears:
```
    ASSERT_TRUE(testAddBaseHelper(L"http://a/../b/c/d;p?q", L"../..", L"http://a/")); // SUCCEEDS
    ASSERT_TRUE(testAddBaseHelper(L"http://a/../b/c/d;p?q", L"../../", L"http://a/"));
```
Am I just doing something wrong here?
thanks

Hi @danpape , have you checked RFC 3986 with regard to expected behaviour already? The RFC has details on the related algorithm.

To be honest, I have been re-reading those parts of the spec over and over again in the past few days and I can't decide for myself what the behavior should be. I suppose that's why I wanted to ask you. I'll keep at it in case I'm just not understanding something. Thanks.

I can have a look myself but it will take a few days. (For something potentially quicker, I can offer that you share what part of the RFC is puzzling in detail on or off GitHub and/or we do a voice chat on this topic some day time between 14:00 UTC+2 and 24:00 UTC+2 these days. Just an idea.)

That's very generous of you. I'll keep working on it and get back to you soon.

@danpape any news from your side?

Up above I was reporting that having ".." within the base uri was causing some weird behavior of final "/" chars after uri resolution, but after testing out various scenarios, I think I've simplified my test cases a bit.

As you know, in https://tools.ietf.org/html/rfc3986#section-5.4.1 there are several "normal" uri resolution examples where, whether or not the relative uri ends in "/", the transformed uri always ends in a "/". For instance, with base uri = "http://a/b/c/d;p?q"

      "."             =  "http://a/b/c/"
      "./"            =  "http://a/b/c/"
      ".."            =  "http://a/b/"
      "../"           =  "http://a/b/"
      "../.."         =  "http://a/"
      "../../"        =  "http://a/"

and indeed, you have all of these examples as tests in test.cpp.

In https://tools.ietf.org/html/rfc3986#section-5.4.2 they note that "the ".." syntax cannot be used to change the authority component of a URI". Seems to me that tacking on more ".." segments to the relative uri should not change the outcome of the final two "normal" examples above. While the RFC doesn't have these specific examples, I would argue that these test cases should exist:

      "../../.."         =  "http://a/"
      "../../../"        =  "http://a/"

but if you add these two lines to test.cpp, you will see that the first one fails:

    ASSERT_TRUE(testAddBaseHelper(L"http://a/b/c/d;p?q", L"../../..", L"http://a/"));
    ASSERT_TRUE(testAddBaseHelper(L"http://a/b/c/d;p?q", L"../../../", L"http://a/"));

because the transformed uri comes back as not having a final "/". 

For an even simpler example, adding these two lines to test.cpp, you will also see that the first one fails:

    ASSERT_TRUE(testAddBaseHelper(L"http://a", L"..", L"http://a/"));
    ASSERT_TRUE(testAddBaseHelper(L"http://a", L"../", L"http://a/"));

After stepping through the code for several of these examples, I can see that after RemoveDotSegments (and eventually AddBaseUri) the transformed uri in the first case (relative="..") has pathHead and pathTail pointers which are NULL, but in the second case (relative="../") pathHead and pathTail point to structs that have a textRange of "X", which I'm guessing is a stand in for an empty path segment?

Anyway, I'm not sure exactly what to try to change if I were to offer a pull request. I should probably ask if you agree with my reasoning above that all of those test cases should succeed (by returning transformed uris that all end with a "/")?


Hi @hartwork any thoughts on the above? thanks

Thanks for your detailed reply — I have yet to find time for an in-depth look myself. I owe a proper reply to you for sure.

Happy new year! ... I just thought I'd give this a bump in case you were able to take a look again. Thank you.

@danpape happy new year! My apology that I haven't found time for this yet.
(Let me repeat my offer for a quick Jitsi or Google Meet in one of the next few days on the topic. I think that would realistically speed things up and make this go before other tasks.)

Hi Dan,


I had chance at a closer look at what [RFC 3986](https://tools.ietf.org/html/rfc3986) has to say about the expected behavior for the cases that you bring up here.  I found the answer to that in this pseudocode in RFC 3986 [section 5.2.2](https://tools.ietf.org/html/rfc3986#section-5.2.2):

```
5.2.2.  Transform References

      if defined(R.scheme) then
         [..]
      else
         if defined(R.authority) then
            [..]
         else
            if (R.path == "") then
               [..]
            else
               if (R.path starts-with "/") then
                  [..]
               else
-->               T.path = merge(Base.path, R.path);
-->               T.path = remove_dot_segments(T.path);
               endif
```

So the paths need to be merged (a la [section 5.2.3](https://tools.ietf.org/html/rfc3986#section-5.2.3)) first and then dot segments need to be removed (a la [section 5.2.4](https://tools.ietf.org/html/rfc3986#section-5.2.4)).  I have done that now with the help of some Python code (see below) and I conclude that:

- Your expectation that the resolved URI ends in a slash (`'/'`) is justified, RFC 3986 agrees with you.

- (The leading slash in the base path is where the slash in the resolved URI originates from.)

- You have found a bug in uriparser that affects the code at the `master` branch.
  Thanks for reporting this issue! :pray: 

- These three tests do indeed fail (and should pass instead):
  ```c
  EXPECT_TRUE(testAddBaseHelper(L"http://a/b/c/../d;p?q", L"../..", L"http://a/"));
  EXPECT_TRUE(testAddBaseHelper(L"http://a/b/../c/d;p?q", L"../..", L"http://a/"));
  EXPECT_TRUE(testAddBaseHelper(L"http://a/b/c/d;p?q", L"../../..", L"http://a/"));
  ```

I propose that I work on a fixing pull request for this issue myself and that you get a chance for review (if you like), rather than the other way around. Is that okay with you?

Best


Sebastian

PS: For the Python code I wrote during my research for this ticket, it's this:

```python
# Copyright (C) 2021 Sebastian Pipping <sebastian@pipping.org>
# Licensed under the Affero GPL v3 or later license
# This is Python >=3.6 code for https://github.com/uriparser/uriparser/issues/92

import re


def merge(base_path, r_path, base_has_authority):  # a la RFC 3986 section 5.2.3
    if r_path.startswith('/'):
        raise ValueError('merge is about merging in a *relative* path!')

    if base_has_authority and not base_path:
        return f'/{r_path}'
    else:
        return base_path.rsplit('/', 1)[0] + '/' + r_path


def remove_dot_segments(path):  # a la RFC 3986 section 5.2.4
    output = []

    # 1.  While the input buffer is not empty, loop as follows:
    while path:
        # A.  If the input buffer begins with a prefix of "../" or "./",
        #     then remove that prefix from the input buffer; otherwise,
        if path.startswith('../'):
            path = path[len('../'):]
        elif path.startswith('./'):
            path = path[len('./'):]

        # B.  if the input buffer begins with a prefix of "/./" or "/.",
        #     where "." is a complete path segment, then replace that
        #     prefix with "/" in the input buffer; otherwise,
        elif path.startswith('/./'):
            path = '/' + path[len('/./'):]
        elif path == '/.':
            path = '/'

        # C.  if the input buffer begins with a prefix of "/../" or "/..",
        #     where ".." is a complete path segment, then replace that
        #     prefix with "/" in the input buffer and remove the last
        #     segment and its preceding "/" (if any) from the output
        #     buffer; otherwise,
        elif path.startswith('/../'):
            path = '/' + path[len('/../'):]
            output = output[:-1]
        elif path == '/..':
            path = '/'
            output = output[:-1]

        # D.  if the input buffer consists only of "." or "..", then remove
        #     that from the input buffer; otherwise,
        elif path in ('.', '..'):
            path = ''

        # E.  move the first path segment in the input buffer to the end of
        #     the output buffer, including the initial "/" character (if
        #     any) and any subsequent characters up to, but not including,
        #     the next "/" character or the end of the input buffer.
        else:
            first = re.search('^/?[^/]*', path).group(0)
            path = path[len(first):]
            output.append(first)

    # 3.  Finally, the output buffer is returned as the result of
    #     remove_dot_segments.
    return ''.join(output)


if __name__ == '__main__':
    for base_path, r_path in (
        ("/b/c/../d;p?q", "../.."),
        ("/b/../c/d;p?q", "../.."),
        ("/b/c/d;p?q", "../../.."),
    ):
        merged = merge(base_path, r_path, base_has_authority=True)
        merged_with_dots_removed = remove_dot_segments(merged)
        print(f'({base_path!r}, {r_path!r})'
            f' --merge--> {merged!r}'
            f' --remove-dot-segments--> {merged_with_dots_removed!r}')
```


Wow - yes, that is great! ... as I said earlier, I am not comfortable enough with all your code to make my own changes and offer a pull request, but when you have a fix ready for testing I would love to help with that.

@danpape there is pull request #97 for a proposed fix now, if you want to have a closer look. Review on commit level is likely going to be more fun than on the combined diff with this one, e.g. due to the refactorings and split-ups that I did.

PS: If you wonder about the `.absolutePath` flag: (1) I think it's safe to say that it was an API design mistake from the beginning and (2) the table at https://github.com/uriparser/uriparser/issues/8#issuecomment-372808492 may help.