Normalize IPv6 addresses when normalizing URIs

I patched `tool/uriparse.c` as follows:

```
--- i/tool/uriparse.c
+++ w/tool/uriparse.c
@@ -104,6 +104,8 @@ int main(int argc, char * argv[]) {
                     state.errorPos, (long unsigned int)(state.errorPos - argv[i]));
             retval = EXIT_FAILURE;
         } else {
+            uriNormalizeSyntaxA(&uri);
+
             if (uri.scheme.first) {
                 dumpRange("scheme", &(uri.scheme));
             }
@@ -146,6 +148,23 @@ int main(int argc, char * argv[]) {
                 printf("%*s%s\n", (int)strlen(absolutePathLabel), "",
                         "(always false for URIs with host)");
             }
+
+            char * uriString;
+            int charsRequired;
+            if (uriToStringCharsRequiredA(&uri, &charsRequired) != URI_SUCCESS) {
+                /* Failure */
+            }
+            charsRequired++;
+            uriString = malloc(charsRequired * sizeof(char));
+            if (uriString == NULL) {
+                /* Failure */
+            }
+            if (uriToStringA(uriString, &uri, charsRequired, NULL) != URI_SUCCESS) {
+                /* Failure */
+            }
+
+            printf("Recomposed: %s\n", uriString);
+            free(uriString);
         }
         printf("\n");
```


When I then run: `./uriparse 'http://[2001:db8::0:0:0123]/'` I get the following output:

```
uri:          http://[2001:db8::0:0:0123]/
scheme:       http
hostText:     2001:db8::0:0:0123
hostData.ip6: 2001:db8::123
 .. pathSeg:  
absolutePath: false
              (always false for URIs with host)
Recomposed: http://[2001:0db8:0000:0000:0000:0000:0000:0123]/
```

I would expect two things:

1. The recomposed URL should be in sync with `hostText`.
2. When I run `uriNormalizeSyntaxA()`, I expect the `hostText` to be “minimal in length” afterwards (so matching the `hostData.ip6` output that was generated by `inet_ntop`.

see php/php-src#22618. The `getHost()` getter reads `.hostText`, whereas `toString()` uses `uriToStringA()` internally.

Hi @TimWolla,

regarding the second aspect, from what I can see in [RFC 3986 section 6.2.2](https://datatracker.ietf.org/doc/html/rfc3986#section-6.2.2) I do not see syntax based normalization of IPv6 hostnames. Is this a bug report or a feature request from your point of view with regard to the RFC? 

> Is this a bug report or a feature request from your point of view with regard to the RFC?

I believe (2) will become a bug when (1) is fixed:

My expectation from a normalized URI is that I can compare two normalized URI strings and if and only if they are equal, they represent the same URI.

Now if (1) is adjusted to keep the original `hostText` during recomposition, then during normalization the `hostText` needs to be normalized so that `http://[::1]` will compare equal to `http://[0:0:0:0::1]`.

-----------

I have provided a proof of concept patch in #336.

@TimWolla thanks for the PoC. I will look into this in more detail in August.